<%- partial('partial/head') %>
<%- partial('partial/header') %>

<div class="page-content">
    <div class="container">
        <% page.posts.filter(function(v) {return !v.private}).map(function(post) { %>
        <article class="article">
            <header class="article-header">
                <h2 class="article-title">
                    <a href="/<%= post.path %>"><%= post.title %></a>
                </h2>
            </header>
            <section class="article-excerpt">
                <% if (post.excerpts != '') { %>
                    <p><%= post.excerpts %> ...</p>
                <% } %>
            </section>
            <footer class="article-meta">
                <span><%= post.author || config.author %></span>
                <span>发布于</span>
                <time class="article-date" datetime="<%- date(page.date) %>"><%- date(post.date) %></time>
            </footer>
        </article>
        <% }); %>
        <div class="pagination">
            <% if (page.prev != 0) { %>
                <a href="/<%= page.prev_link %>" class="page-prev">上一页</a>
            <% } %>
            <% if (page.next != 0) { %>
                <a href="/<%= page.next_link %>" class="page-next">下一页</a>
            <% } %>
        </div>
    </div>
</div>

<%- partial('partial/footer') %>
<%- partial('partial/foot') %>
