<header class="Header">
    <nav class="Nav">
        <div class="container">
            <div class="Logo">
                <a href="<%= config.url || theme.url %>">
                    <img src="<%= config.logo || theme.logo %>" alt="<%= config.title || theme.title %>">
                </a>
            </div>
            <ul class="menu">
                <% for (var name in theme.menus) { %>
                <li><a href="<%= theme.menus[name] %>"><%= name %></a></li>
                <% }; %>
            </ul>
            <div class="icon-menu js-icon-menu"></div>
        </div>
    </nav>
</header>
<ul class="menu-mobile js-menu-mobile">
    <% for (var name in theme.menus) { %>
    <li><a href="<%= theme.menus[name] %>"><%= name %></a></li>
    <% }; %>
</ul>
